%before-after {
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
}

%before {
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}

%after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}
